:root
  --ease-out-expo cubic-bezier(0.16, 1, 0.3, 1)

[slider-cut] .splide__slide  
  display block !important

html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none

.splide.is-initialized:not(.is-active) .splide__list
  display flex !important
  gap 2rem

.arrow, .round-arrow
  user-select none

.testimonials__img-slider
  .splide__track
    overflow: visible !important

.pricing__toggle
  --toggle-width 70px
  --toggle-height 36px
  --toggle-padding 8px
  --toggle-stroke-width 1px
  --toggle-stroke-color black  
  --toggle-stroke-color-active transparent  
  --toggle-bg-color none
  --toggle-bg-color-active var(--bg-prime-col)
  --toggle-dot-color black
  --toggle-dot-color-active white
  --toggle-radius calc(var(--toggle-height) - var(--toggle-padding) * 2)
.pricing__switch {
  position: relative;
  display: inline-block;
  height: var(--toggle-height);
  width: var(--toggle-width);
}

.pricing__switch input {
  display:none;
}

.pricing__switch__bg {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: var(--toggle-bg-color)
  outline var(--toggle-stroke-width) solid var(--toggle-stroke-color)
  outline-offset: calc( var(--toggle-stroke-width) * -1)
  transition: all 800ms var(--ease-out-expo);
}

.pricing__switch__bg::before {
  content: "";
  position: absolute;
  background-color: var(--toggle-dot-color);
  bottom: var(--toggle-padding);
  left: var(--toggle-padding);
  height: var(--toggle-radius);
  transition: all 800ms var(--ease-out-expo);
  width: var(--toggle-radius); 
}

.pricing__switch__input:checked + .pricing__switch__bg {
  background-color: var(--toggle-bg-color-active) 
  outline-color: var(--toggle-stroke-color-active)
}

.pricing__switch__input:checked + .pricing__switch__bg:before {
  background-color var(--toggle-dot-color-active)
  transform: translateX(calc(var(--toggle-width) - var(--toggle-padding) * 2 - var(--toggle-radius)));
}

.pricing__switch__bg, .pricing__switch__bg::before {
  border-radius: 99rem;
}


/*
.tabs__tab:not(:last-of-type):not(.w--current)::after
  content ''
  position absolute
  right 0
  top 30%
  width 1px
  height 100%
  background-color rgba(0, 0, 0, .15)
  transition all 300ms

.tabs__tab:has(+ .w--current)::after, .tabs__tab:hover::after, .tabs__tab:has(+ :hover)::after
  background-color rgba(0, 0, 0, 0) !important
*/

/*------------------------------*/